.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 12px;
    border-radius: 4px;
    max-width: 300px; /* wider area */
    width: fit-content;
    z-index: 100;
    pointer-events: auto;
    font-family: 'Orbitron', sans-serif; /* Orbitron font */
  }
  
  .row {
    margin-bottom: 6px;
    line-height: 1.4;
    width: 300px;
  }
  
  .label {
    font-weight: bold;
    color: #228B22;
    margin-right: 6px;
    font-family: 'Orbitron', sans-serif;
  }
  
  .value {
    color: white;
  }
  
  .link {
    color: #4fc3f7;
    text-decoration: underline;
  }
  
  .link:hover {
    color: #82b1ff;
  }
  
  .editButton {
    background-color: black;
    border: 1px solid #228B22; /* Tailwind's purple-500 */
    color: #228B22; /* Purple pencil */
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }
  
  .editButton:hover {
    background-color: #1f1f1f;
    border-color: #228B22; /* Purple-600 on hover */
    color: #228B22;
  }
  

  .mutedText {
    color: #aaa;
    font-style: italic;
  }
  