.radarContainer {
    position: left;
    display: flex; /* Use flexbox for easier centering */
    justify-content: right; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* If you want to center within the parent container */
    font-family: 'Orbitron', sans-serif;
  }

  .radarItem {
    fill: plum; /* Blue color for radar items */
    cursor: pointer;
  }

    
  .chartText { 
    font-family: 'Orbitron', sans-serif; /* Replace 'Arial' with your desired font */ 
    font-size: 12px; fill: #eeeaea; /* Default text color */ 
    font-weight: bold; 
  }

  .chartTextNormal { 
    font-family: 'Orbitron', sans-serif; /* Replace 'Arial' with your desired font */ 
    font-size: 9px; fill: white; /* Default text color */ 
  }
  
  