 
  .textArea {
    width: 100%; 
    min-height: 300px; 
    border: 3px solid lavender;
    border-radius: 1px; 
    resize: vertical; 
  }

  .headerCells {
    background-color: Thistle;
    color: black;
    padding: 8px;
    text-align: center;
    border: 1px Thistle;
  };

.cellStyle  {
    padding: 8px;
    border: 1px thistle;
    vertical-align: top;
    table-layout: auto;
    background-color: aquamarine;
  };

  /* TableStyles.css */

  .nameCellEditable {
    background-color: #f1eff0; /* Example background for editable cells */
    border: 2px solid plum; /* Highlight border for editable cells */
    width: 100%;
    text-align: top;
    padding: 40px;
  }

  .nameCell {
    padding: 10px;
    border: 1px solid plum;
    text-align: top;
    width: 200px;
    height: 80px;
    transition: background-color 0.2s; /* Smooth transition for hover or edit styles */
  }
  
  .descriptionCellEditable {
    background-color: #f1eff0; /* Example background for editable cells */
    border: 2px solid plum; /* Highlight border for editable cells */
    width: 300px;
    height: 80px;
    text-align: top ;
  }

  .descriptionCell {
    padding: 40px;
    border: 1px solid plum;
    vertical-align: top;
    width: 300px;
    height: 80px;
    transition: background-color 0.2s; /* Smooth transition for hover or edit styles */
    text-align: top ;
  }
  
  .tableCellEditable {
    border-collapse: collapse;
    min-height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f1eff0; /* Example background for editable cells */
    border: 2px solid plum; /* Highlight border for editable cells */
  }

  .tableCell {
    border-collapse: collapse;
    min-height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid plum;
    min-height: 200px;
    width: 25%;
    }
  
  .tableCell:hover {
    background-color: lavender; /* Optional hover effect */
  }
  
  .tableStyle  {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin-top: 10px;
      }


.editableStyle  {
        padding: 8px;
        background-color: rgb(37, 37, 160);
        border : 1px dashedrgb(198, 97, 168);
        table-layout: 'fixed';
      };

/* table related buttons */

.rowButtonsEditCancelSave {
    display: flex; /* Use flexbox for better layout control */
    flex-direction: column; /* Stack the table and buttons vertically */
    align-items: center; /* Center the content horizontally */
    margin-top: 40px; 
    padding: 40px;
    border: 1px solid #ccc; 
    border-radius: 5px;
  }
  
  
  .saveButton {
    background-color: purple;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .cancelButton {
    background-color: plum;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .editButton {
    background-color: purple;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
  }

  /* TAGS */
  .tagsContainer {
    margin: 10px 0;
  }
  
  .tagsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .tagItem {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .removeTagButton {
    margin-left: 10px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .tagsDropdown {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
  }
  
  .tagsDropdownDisabled {
    background: #f0f0f0;
    color: #a0a0a0;
    cursor: not-allowed;
  }

  .tagsReadonlyContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
  }
  
  .tagReadonly {
    background-color: #ae2525; /* Light gray background */
    color: #333; /* Dark text color for readability */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 2em;
    display: inline-block;
  }
    